/*** Screen Related css ****/
/* line 3, ../sass/screen.scss */
.container {
  width: 1200px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 10, ../sass/screen.scss */
body {
  background: #dedede;
}
