/*** Screen Related css ****/
/* line 3, ../sass/screen.scss */
body {
  background: url("/sites/all/themes/nature/images/background/b17.png");
}

/* line 7, ../sass/screen.scss */
.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0;
  height: auto;
  display: block;
}

/* line 14, ../sass/screen.scss */
#page-back {
  background: #fff;
}
