/*** Screen Related css ****/

body {
	background: url('/sites/all/themes/nature/images/background/b17.png');
}

.container {
	width: 1200px;
	margin: 0px auto;
	padding: 0;
	height: auto;
	display: block;
}

